languages
upgrade
upgrade-temp-backup
uploads
/themes/twentytwentyfour
.DS_Store
node_modules
images


/index.php
/themes/index.php
/plugins/index.php

/plugins/advanced-custom-fields
/plugins/loco-translate
/plugins/manual-image-crop
/plugins/members
/plugins/regenerate-thumbnails
/plugins/wp-smushit
